html{
    height: 100%;
}

body{
background: linear-gradient( to bottom right ,rgb(66, 177, 81),#ffff);
background-repeat: no-repeat;
height: 100%;
background-attachment: fixed;
text-align: center;
font-size: xx-large;
color: aliceblue;
}


.btnjouer {
    display: block;
    margin : auto;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(56, 160, 52);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.btnjouer:hover {
    background-color: rgb(58, 163, 81);
}

.btnjouer:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
